*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
}

.container {
    width: 88%;
    margin: 0 auto;
}

h3.highlights__text {
    color: black;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    font-family: "sf-pro-text";
}

.btns--button-top {
    width: 100%;
    background: #1FA1FF;
    border: none;
    border-radius: 3px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px; 
}
.btns--button-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    
}

button {
    width: 105px;
}
button--icon {
    width: 32px;
    height: 39px;

    background-color: #ededed;
}

ul {
    list-style: none;
}

.app {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow-y: auto;
}

.username__description_name {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
}
.username__description_category {
    color: #6E6E6E;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}
.username__description_text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 auto;
}
.username__link {
    color: #004C8B;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px; 
}
.username__description_followed {
    margin: 12px auto;
    display: flex;   
    position: relative;
}
.followed {
    border: 2px solid #fff;
    border-radius: 25px;
    position: absolute;
}
.followed:nth-child(1){
    left: 0px;
}
.followed:nth-child(2){
    left: 15px;
}
.followed:nth-child(3){
    left: 30px;
}
.username__description_followed-text {
    margin-left: 66px;

}
.username__description_followed-text span {
    font-weight: 700;
}

.username__btns {
    display: flex;
    flex-direction: column;
}

.posts__list {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

.highlights__block {
    display: grid;
    grid-template-columns: auto auto auto auto  auto;
    grid-template-rows: auto;
    justify-content: space-between;
    gap: 18px;
    padding: 4px 8px;
    background-color: #FFFFFF;
    outline: 2px solid red;
}
.highlights__img  {
    position: relative;
    display: flex;
}
.highlights__img img {
    display: flex;
    width: 55px;
    border-radius: 50%;
    position: relative;
}
.highlights__img::before {
    content: '';
    display: block;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    width: calc(109% + 2px);
    height: calc(106% + 2px);
    position: absolute;
    left: -3px;
    top: -3px;
}

.posts__list li {
    position: relative
}

.posts__list li.ico::before {
    content: '';
    display: block;

    width: 2.5em;
    height: 2.5em;

    min-width: 24px;
    min-height: 24px;

    max-width: 48px;
    max-height: 48px;

    background-size: cover;
    background-position: top center;

    position: absolute;
    top: 5%;
    right: 5%;
} 

.posts__list li.ico_video::before {
    background-image: url(/images/ico_video.svg);
}

.posts__list li.ico_posts::before {
    background-image: url(/images/ico_posts.svg);
}

.posts__list a {
    display: block;
    width: 100%;
    height: 100%;
}

.posts__list img {
    width: 100%;
    height: 100%;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;

    background-color: #fff;

    padding: 15px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item span.ico {
    display: block;
    
    width: 32px;
    height: 32px;

    background-position: center;
    background-size: cover;
}

.nav__item span.ico_home {
    background-image: url(/images/ico_home.svg);
}

.nav__item span.ico_search {
    background-image: url(/images/ico_search.png);
}

.nav__item span.ico_reals {
    background-image: url(/images/ico_reals.svg);
}

.nav__item span.ico_store {
    background-image: url(/images/ico_store.svg);
}

.nav__item span.ico_user {
    background-image: url(/images/ico_user.png);
}